[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pymongo = "*"
python-decouple = "*"
python-keycloak = "*"
requests = "<3.0.0,>=2.20.0"
install = "*"

[dev-packages]

[requires]
python_version = "3.8"
